.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

button:not(:disabled),
[role='button']:not([aria-disabled='true']),
a[href],
label:has(input[type='checkbox'], input[type='radio']),
summary,
select:not(:disabled),
input[type='checkbox']:not(:disabled),
input[type='radio']:not(:disabled),
input[type='submit']:not(:disabled),
input[type='button']:not(:disabled),
input[type='reset']:not(:disabled),
input[type='file']:not(:disabled) {
  cursor: pointer;
}

button:disabled,
select:disabled,
input:disabled,
[aria-disabled='true'] {
  cursor: not-allowed;
}
